<section>
    <span class="page-title">
        <h1><%= __('common.tag') + ": " + i18n_for_tag(page.tag) %></h1>
    </span>

    <% page.posts.each(function (post) { %>

    <%- partial('_partial/item',{post: post}) %>

    <% }) %>
    <%- partial('_partial/paginator') %>
</section>