<% const languages = display_languages();

if (languages.length > 1) {%>
    <% if (!( is_tag() || is_post() || page.lang_switch === "false" || (is_archive() && page.current != 1))) { %>
    <% languages.forEach((language, idx, array) => { %>
        <% if (language === page_language()) { %>
            <%= language_name(language) %>
        <% } else { %>
            <a href="<%= url_for(i18n_path(!is_default_language(language) ? language : null)) %>"><%= language_name(language) %></a>
        <% } %>
        <% if (idx !== array.length - 1) { %>
         | 
        <% } %>
    <% }) %>
    <% } %>
    <br/>
<%} %>