<h2>Paginator</h2>

<% if (page.total > 1){ %>
You are at: <strong></strong>Page <%= page.current %></strong>.
<br />
<% if (page.prev) { %>
<a href="<%- url_for(page.prev_link) %>">Previous Page</a>
<% } else {%>
Previous Page
<% } %>
　<br />
<% if (page.next) { %>
<a href="<%- url_for(page.next_link) %>">Next Page</a>
<% } else {%>
Next Page
<% } %>
<% } else { %>
<p>There is only one page, so no paginator ¯\_(ツ)_/¯</p>
<% } %>